# The address to bind the server to
UDP_BIND_ADDRESS=0.0.0.0:8080
# Client versions that are compatible with this server
ALLOWED_VERSIONS=1.1.0_beta
# A local list of app IDs that are allowed to connect
# WHITELIST = my_app,another_app,etc
WHITELIST=
# A remote endpoint to check if an app is allowed to connect.
# Leave empty to use the local whitelist (see above).
REMOTE_WHITELIST_ENDPOINT=
# The API token required to query the remote whitelist endpoint (see above).
REMOTE_WHITELIST_TOKEN=
# What to do if the remote whitelist endpoint is unreachable or returns an
# unexpected response. One of:
#   fail_closed      - reject the connecting client (default, recommended)
#   fail_open_to_local - fall back to the local WHITELIST above
WHITELIST_FAILURE_POLICY=fail_closed
# The ID of this relay, which will be prepended to generated room IDs.
# This can be used to figure out which relay a room exists on.
RELAY_ID=LOCAL
